
body{
	background-color: #B6B6B6;
	margin: 8%;
	margin-top: 5%;
	text-align: center;
}

header{
	background-color: white;
	min-height: 70px;
	width: 80%;
	padding: 1%;
	margin-right: 10%;
	margin-left: 9%;
	border-radius: 5px 20px;
}

.imgHeader{
	height: 15%;
	width: 40%;
	min-width: 200px;
	max-width: 500px;
	min-height: 70px;
}

header,nav,footer,aside,article{
	border: 2px solid black;
}

	nav{
		height: 60px;
		width: 80%;
		margin-top: 2%;
		margin-left: 10%;
		margin-bottom: -3px;
		text-align: center;
		background-color: grey;
		border-radius: 30px 30px 0px 0px;
	}

	#navprox{background-color: #fa9355;
	}
	#navgithub{background-color: #7ecdd6;
	}
	#navapache{background-color: #e35803;
	}
	#navindex{background-color: #28B463;
	}

	li{
		display: inline;
		list-style-type: none;
		border: 2px solid black;
		padding: 7px;
	 	border-radius: 13px;	
	 	background-color: white;
	  	font:bold 20px cursive;	  		
	}
	li:hover{animation: anim 1s; background-color: #FE8B19;
	}
	li.git:hover{animation: anim 1s; background-color: rgba(45,185,224,1);
	}
	li.apache:hover{animation: anim 1s;	background-color: rgba(245,27,49,1);
	}
	li.index:hover{animation: anim 1s;	background-color: #229954 ;
	}

	@keyframes anim {10% {padding: 11px; margin:-4px;}	
	}
			
	li>a{text-decoration: none; 
	  color:black;
	}

	section{
		display: flex;
	}
	
	
	#art1, aside{
		display: inline-block;
		padding-top: 2%;
	}

	#art1{
		flex:4;
		padding: 3%;
		text-align: left;
		background-color: white;
		border-top-left-radius: 20px;
	}
	aside{
		flex: 1;
		display: inline-block;
		font:bold 15px cursive;	 
		border-top-right-radius: 20px;
	}

	.asideimg{
		width: 80%;
	}
	.asideimg2{
		width: 80%;
		margin-top:30%; 
	}
	h4>a{
		color:green;
	}


	#asideprox{animation: animProx 5s infinite;
	}
	@keyframes animProx {0% {background-color: #fa9355;}
						 50%{background-color: white;}
						 100%{background-color: #fa9355;}
	}
	#asidegit{animation: animGit 5s infinite;
	}
	@keyframes animGit {0% {background-color: #7ecdd6;}
						50%{background-color: white;}
						100%{background-color: #7ecdd6;}
	}
	#asideapache{animation: animapache 5s infinite;
	}
	@keyframes animapache {0% {background-color: #e35803;}
						   50%{background-color: white;}
						   100%{background-color: #e35803;}
	}
	#asideindex{animation: animapache 5s infinite;
	}
	@keyframes animapache {0% {background-color: #28B463;}
						   50%{background-color: white;}
						   100%{background-color: #28B463;}
	}

	
	footer{
		padding: 2%;
		font-size: 13px;
		background-color: #FE8B19;
		max-height: 45px;
		font:bold 10px cursive;
		border-radius: 0px 0px 25px 25px;
	}

	.proxmoxFooter{
		background: -moz-linear-gradient(left,  rgba(255,87,3,1) 0%, rgba(255,255,255,1) 100%);
		background: -webkit-gradient(linear, 0% 100%, 100% 0%, from(rgba(255,87,3,1)), to(#ffffff));
	}


	.apacheFooter{
		background: -moz-linear-gradient(left, rgba(224,29,182,1) 0%, rgba(245,27,49,1) 29%, rgba(153,25,44,1) 56%, rgba(212,82,26,1) 85%, rgba(212,82,26,1) 100%);
		background: -webkit-gradient(linear, 0% 100%, 100% 0%, from(#e35803), to(#d3156d));
	}

	.githubFooter{
		background: -moz-linear-gradient(left, rgba(99,97,99,1) 0%, rgba(99,97,99,1) 9%, rgba(45,185,224,1) 53%, rgba(255,255,255,1) 100%);		max-height: 30px;
		background: -webkit-gradient(linear, 0% 100%, 100% 0%, from(#323232), to(rgba(45,185,224,1)));
	}
	.indexFooter{
		background: -moz-linear-gradient(left, rgba(40,180,99,1) 0%, rgba(74,230,139,1) 50%, rgba(140,255,188,1) 68%, rgba(255,255,255,1) 100%);
		background: -webkit-linear-gradient(left, rgba(40,180,99,1) 0%, rgba(74,230,139,1) 50%, rgba(140,255,188,1) 68%, rgba(255,255,255,1) 100%);
	}

