
body{
	background-color: #B6B6B6;
	margin: 5%;
	text-align: center;
}

header{
	background-color: white;
}

body,header,nav,footer,aside,section,article{
	border: 2px solid black;
}

	nav{
		height: 50px;
		text-align: center;
	}
		.estekak{
			display: inline;
			list-style-type: none;
			border: 2px solid black;
			padding: 7px;
	  		border-radius: 13px;	
	  		background-color: white;
	  		font:bold 20px cursive;	  		
		}
		.estekak:hover{
			animation: anim 1s;
			background-color: #FE8B19;
		}

		@keyframes anim {
			10% {padding: 11px; margin:-4px;background-color: #FE8B19;}	
		}
			a{
				text-decoration: none; 
				color:black;
				
			}

	section{
		display: flex;
	}
	
	
	#art1, aside{
		display: inline-block;
		padding-top: 2%;
	}

	#art1{
		flex:4;
		padding: 3%;
		text-align: left;
		background-color: white;
	}
	aside{
		flex: 1;
		display: inline-block;
	
	}

	footer{
		padding: 2%;
		font-size: 13px;
		background-color: #FE8B19;
		max-height: 40px;
	}



		.proxmox{
	width: 70%; 
	height:30%;


	}


	.apache{
		width: 70%; 
		height:30%;


	}

	.github{
		width: 70%; 
		height:30%;

	}

	.proxmoxFooter{
		padding: 2%;
		background: -moz-linear-gradient(left, rgba(99,97,99,1) 0%, rgba(99,97,99,1) 9%, rgba(255,87,3,1) 53%, rgba(255,255,255,1) 100%);
		max-height: 30px;


	}

	.apacheFooter{
		padding: 2%;
		
		max-height: 30px;
		background: -moz-linear-gradient(left, rgba(224,29,182,1) 0%, rgba(245,27,49,1) 29%, rgba(153,25,44,1) 56%, rgba(212,82,26,1) 85%, rgba(212,82,26,1) 100%);

	}

	.githubFooter{
		padding: 2%;
		background: -moz-linear-gradient(left, rgba(99,97,99,1) 0%, rgba(99,97,99,1) 9%, rgba(45,185,224,1) 53%, rgba(255,255,255,1) 100%);		max-height: 30px;


	}
